/* css-reset */
html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color-body);
  line-height: 2;
  scroll-behavior: smooth; /* to scroll between different sections smoothly */
}

/* General */
:root {
  /* colors */
  --bg-color-body: #eef5f3;
  --bg-color-nav-wrapper: #e2f1ec;

  --font-color-nav-item: #44876a;
  --border-color-nav-item-active: #609374;
  --border-color-nav-item-hover: #87c39f;
  --footer-color: #87c39f;

  --text-color: #343735;

  /* font */
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Poppins", sans-serif;
  --icon-font: "Poppins", sans-serif;
}

body {
  font-family: var(--primary-font);
  color: var(--text-color);
}
p,
span,
div {
  font-family: var(--secondary-font);
}

#work,
#about,
#contact {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* section header */
section > h2,
footer > h2 {
  color: #44876a;
  font-size: 2.5rem;
}

/* scroll top button */
#scrollTop {
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 2rem;
  right: 2rem;

  border-radius: 50%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);

  background-color: #44876a;
  color: white;

  font-size: 2rem;
  padding: 1rem;

  /* remove button default styling */
  border: none;
  outline: none;
  margin: 0;
}

/* section - navbar */

/* navbar--wrapper */
.navbar--wrapper {
  display: flex;
  padding: 1rem 0;
  background-color: var(--bg-color-nav-wrapper);
  position: fixed;
  width: 100%;
  z-index: 2000;
}

.home {
  cursor: pointer;
  z-index: 2000;
}
.navbar {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  flex-direction: row;
}

.nav-item {
  list-style: none;
  font-size: 1.5rem;
  transition: border-bottom-color 1ms linear 0s;
}

.nav-item + .nav-item {
  margin-left: 3rem;
}

.nav-item > a {
  color: var(--font-color-nav-item);
  font-family: var(--primary-font);
  text-decoration: none;
  cursor: pointer;
}

.nav-item.active {
  border-bottom: 2px solid;
  border-bottom-color: var(--border-color-nav-item-active);
}
.nav-item:hover {
  border-bottom: 2px solid;
  border-bottom-color: var(--border-color-nav-item-hover);
}
/* section - introduction */
.no-margin {
  margin: 0;
}

#intro {
  /* display: none; */
  position: relative;
  height: 650px;
  overflow: hidden;
}
.intro--container {
  height: 100%;
  width: 25%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 2000;
}
@media screen and (max-width: 1290px) {
  .intro--container {
    width: 40%;
  }
}
.intro--container > .name {
  margin-bottom: 1rem;
  font-size: 3rem;
  color: var(--font-color-nav-item);
}
.intro--container > .pronunciation {
  margin-bottom: 0.8rem;
  font-size: 1rem;
  color: var(--font-color-nav-item);
}
.intro--container > .profession {
  margin-bottom: 0.8rem;
  font-size: 1rem;
  font-family: var(--secondary-font);
}
.intro--container > .contact-me {
  margin-top: 1rem;
  padding: 1rem;
  background-color: var(--border-color-nav-item-active);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 2;
}
.intro--container > p {
  z-index: 2;
}

.intro--container > .select-email > a {
  text-decoration: none;
  color: unset;
}

/* break */
.section-break {
  width: 50%;
  margin: 0 auto;
  border: none;
  padding: 3rem 0;
  border-bottom: 4px dotted var(--font-color-nav-item);
}

/* section work */

#work > .work--wrapper {
  margin-top: 3rem;
}

.work--wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem 1rem;
}
@media screen and (max-width: 1000px) {
  .work--wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem 1rem;
  }
}
.work--container {
  height: 550px;
  width: 450px;
  /* margin: 0 2rem; */
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 3px 6px #00000029;
  transition: all 0.2s; /* Animation */
}
.work--container:hover {
  transform: translateY(-5%);
}
/* .work--container:first-child {
  margin-left: 0;
} */

.preview-image {
  height: 347px;
}

.link {
  text-decoration: none;
  color: var(--text-color);
}
.content {
  --margin: 1.5rem;
  margin-left: var(--margin);
  margin-right: var(--margin);
}

.content > .title {
  font: normal normal bold 34px/51px var(--primary-font);
  margin-top: 0;
  margin-bottom: 0;
}
.content > .tags {
  font: normal normal normal 16px/15px var(--primary-font);
  margin-top: 0;
  margin-bottom: 0;
  color: #707070;
}
.content > .description {
  font: normal normal normal 21px/20px var(--primary-font);
  margin-top: 2rem;
  margin-bottom: 0;
  line-height: 1.25;
}
/* section - about */

#about > h2 {
  padding-bottom: 3rem;
}
.about--container {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 30% 70%;
}
.about--container > .profile-pic > img {
  display: block;
  width: 100%;
  height: auto;
}
.about--container > .content {
  margin-top: 0;
  padding-left: 2rem;
  text-align: justify;
  text-justify: inter-word;
}
.about--container > .content > h3:first-child {
  margin-top: 0;
}
.about--container > .content > :not(h3:first-child) + h3 {
  margin-top: 2rem;
}
.content > .quote-sentence {
  font-style: italic;
  padding-left: 10%;
}
.content > .quoter {
  font-weight: bold;
}

/* section - contact */
footer {
  margin-top: 4rem;
  width: 100%;
  bottom: 0;
  background-color: var(--footer-color);
}
#contact {
  height: 35%;
  padding-top: 3rem;
}

#contact > h2 {
  color: #fff;
}

.contact--container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 50%);
}
.contact--container > .actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.contact--container > .actions > .link {
  text-decoration: none;
  color: unset;
  padding: 1rem;
  border-radius: 5px;
  background-color: #cde9e0;
}

.links--container {
  text-align: center;
  display: grid;
  place-items: center;
  margin-top: 1rem;
}
.contact-links {
  padding-top: 1rem;
}
.contact-links > .link {
  text-decoration: none;
  color: black;
  cursor: pointer;
  padding: 0.5rem;
}
.link + .link {
  margin-left: 0.5rem;
}
.contact-links > .link:hover {
  background-color: var(--bg-color-body);
  border-radius: 5px;
}
.footnote {
  padding: 1rem 0 1.5rem;
  font-size: 0.8rem;
  color: var(--border-color-nav-item-active);
  font-weight: bold;
}
